In [2]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')
mpg('hwy')

TypeError: 'DataFrame' object is not callable

In [3]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')
# Use square brackets to access a column in a DataFrame
mpg['hwy']  # Correct way to access the 'hwy' column

# Alternatively, you can use dot notation (though square brackets are preferred)
# mpg.hwy

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [8]:
import pandas as pd
df = pd.DataFrame({'var' : [1,2,3],
                  'var' : [4,5,6]},
                 index = ['kim', 'lee','park'])
df

      var
kim     4
lee     5
park    6

In [9]:
pd.DataFrame

pandas.core.frame.DataFrame

In [18]:
## 만들기
x = 1
x = 1.5 
x = 'apple'

type(x)

str

In [23]:
var2 = float(var2)
var3 = str(var3)

NameError: name 'var2' is not defined

In [5]:
import pandas as pd
df = pd.DataFrame({'name' : ['김지훈', ' 이유진' ,'박동현','김민지'],
                  'english' : [90,80,60,70],
                  'math' : [50,60,100,20]})
df

   name  english  math
0   김지훈       90    50
1   이유진       80    60
2   박동현       60   100
3   김민지       70    20

In [9]:
import pandas as pd
df = pd.DataFrame({'과일' : ['사과', '딸기','수박'],
                  '가격' : [1800,1500,3000],
                  '판매량' : [24, 38, 13]})
df

   과일    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [12]:
sum(df['가격'])/3

2100.0

In [13]:
df_exam = pd.read_excel('excel+exam.xlsx')
df_exam

FileNotFoundError: [Errno 2] No such file or directory: 'excel+exam.xlsx'